*{@include model(0,0)}
a,a:hover,a:visited{text-decoration: none;}
li{list-style: none;}
ul{margin: 0;}
body{background: $bg-body; background-image: url(../images/pattern_40.gif); background-repeat: repeat}
header,nav,aside,section,article,main,footer{
	display: block;
}
