$main-color: #FFA000;
$text-color: #fff;
$bg-body:#262525;
$bg-nav: transparent;
$bg-hover-nav: #eaeaea;
$bg-res-nav: #eaeaea;
$bg-block-title: #343434;
$bg-block-section: #343434;
$bg-progress: #125F93;
$text-button-color: #222;
$text-res-nav: #000;
$navlink-color: #BDBDBD;


$z_to-top: 10;
$z_nav: 11;
$z_popup: 14;
$z_cross: 15;

//slider
$z_slider: 9;
$bg_slider__overlay: rgba(0,0,0,.8);
$z_slider__overlay: 1;
$z_slider__btn: 2;
$color_btn-chuyen-section: #eee;
$z_slider__caption: 3;